<div class="component-header">
    <div class="subtitle">CT Scan</div>
    <img height="40" width="40" class="icon" src="../../assets/icon/brain.png">
</div>
<div class="properties-wrap">
    <div class="elements brain">
            <div id="dwv">
                    <div class="layerContainer">
                        <canvas class="imageLayer"></canvas>
                    </div>
                </div>
        <!-- <ion-img width="260" height="260" src="../assets/imgs/patient-brain.jpg"></ion-img> -->
    </div>
<div class="cancer-info">
    <ion-icon name="checkmark-circle"> no cancer detected</ion-icon>
    <ion-icon name="close-circle"> potential cancer detected</ion-icon>
</div>
    <!-- <img class="nocancer" height="40" width="40" src="../../assets/icon/nocancer.png">
    <img class="cancer" height="40" width="40" src="../../assets/icon/x.png"> -->
</div>
