page-home {

    ion-content {
        background-color: #C4DFE6 !important;
        background-image: url(../../assets/imgs/background-blurred.jpg);
        background-size: cover;
    }

    .wrapper {
        display: flex;
        height: 60%;
        margin-top: 15%;
        margin-bottom: 0;
        width: 100%;
    }

    #logo {
        position: fixed;
        height: 20%;
        
    }

    #junction {
        top: 8%;
        position: fixed;
        height: 12%;
        right: 5px;

    }

    .logo-wrapper {
        position: fixed;
        height: 20%;
        width: 100%;
        z-index: 100;
        background-color: rgba(211, 211, 211, 0.8); 
    }

    .wrapper-two {
        display: flex;
        height: 60%;
        margin-top: 0;
        margin-bottom: 15%;
        width: 100%;
    }

    .elements {
        display: flex;
        flex-direction: column;
    }

    .elements.brain {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .column {
        opacity: 0.85;
        background-color: rgb(210, 215, 218);
        //border-radius: 20px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        margin: 30px;
        -webkit-box-shadow:0 0 10px rgba(0,0,0,0.8);
        -moz-box-shadow:0 0 10px rgba(0,0,0,0.8);
        box-shadow:0 0 10px rgba(0,0,0,0.8);
        border: 5px solid rgb(134, 97, 238);
    }

    .icon {
        float: right;
    }

    .details {
        float: right;
    }

    [name="title"] {
        margin-top: 3%; 
        font-size: 8rem;
        background-color: rgb(144, 187, 189);
        border-radius: 35px;
        padding: 15px;
        font-style: italic;
        background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #555 25%, #555 50%, transparent 50%, transparent 75%, #555 75%);
        background-size: 4px 4px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: -5;
        display: block;
        text-shadow: none;
        float: left;
    }

    [name="input"] {
        float: left;
        width: 33.33%;
    }

    [name="mr"] {
        float: left;
        width: 33.33%;
    }
    [name="ct"] {
        float: left;
        width: 33.33%;
    }
    [name="model"] {
        float: left;
        width: 33.33%;
    }

    [name="upload"] {
        border: 1px solid black;
        height: 15em;
        width: 15em;
    }

    *{
        overflow: hidden;
    }

    [name="meta"] {
        float: left;
        width: 33.33%;
    }

    [name="output"] {
        float: left;
        width: 33.33%;
    }

    .subtitle {
        font-weight: bold;
        font-size: 2em;
        float: left;
    }
    .subtitle {
        font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;;
    }
    .properties-wrap {
        margin-top: 10%;
    }

    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }

    .varian {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .component-header {
        padding-bottom: 5px;
        margin-bottom: 15px;
        border-bottom: 2px groove black;
    }

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    margin-top: 20%;
    justify-content: center;
    align-items: center;
  }

  ion-icon {
    display: block;
    font-size: 2em;
    float: left;
  }

  [name="checkmark-circle"] {
    color: green;
    float: left;
}

.cancer-info {
    margin-top: 5%;
    margin-left: 20%;
}

.imageLayer {
    height: 300px;
    width: 300px;
    border-radius: 50%;

    &:hover {
        position:relative;
        border-radius: 0;
        top:-80px;
        left:-100px;
        width:500px;
        height:auto;
        display:block;
        z-index:999;
    }
}

[name="close-circle"] {
    color: red;
    float: left;
}

  .btn {
    border: 2px solid gray;
    color: rgb(0, 0, 0);
    background-color: rgb(233, 230, 230);
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
   
  .text {
    font-size: 1.3em;
    font-weight: 500;
    float: left;

    &.notes {
        margin-top: 5px;
    }
  }

  .details {
      font-size: 1.1em;

      &.notes {
          margin-top: 5px;
      }
  }

  ion-img{
      border-radius: 50%;

  }
}
