<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF8">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <title>PR NIST</title>
    <style>

        *,html,body{
        font-family: 'Titillium Web', sans-serif;
        color:"#444444";
        }
    </style>
    <script src="static/dwv/dist/dwv.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="static/helloWorld.js"></script>

    <script>


        function sendToServer() {
            alert("borf diddly");
            var data = new FormData();
            for (var i = 0; i < inputSelector.files.length; i ++){
                data.append(i.toString(), inputSelector.files[i])    
            }


            
            fetch("/testPostMethod",
            {
                method: "POST",
                body: data
            }).then(function(res){
                res.json().then(function(data){
                    console.log(data);
                    document.getElementById("answerBox").innerHTML="server says: "+data['fileNames'];
                })
            })
            .then(function(data){ console.log( JSON.stringify( data ) ) });

        }


        ////DWV init stuff
        // base function to get elements
        dwv.gui.getElement = dwv.gui.base.getElement;
        dwv.gui.displayProgress = function (percent) {};

        // create the dwv app
        var app = new dwv.App();
        // initialise with the id of the container div
        app.init({
            "containerDivId": "dwv",
            "tools" : ["Scroll"],
        });
        ///////


        function loadDWVImages(images){
            var brainFiles = document.getElementById("brainImagesSelector");
            var retText = "";
            if ('files' in brainFiles){
                if (brainFiles.files.length == 0){
                    retText = "select yoself some files homes";
                }else{
                    alert("loadin up files homes");
                   
                    console.log(brainFiles.files)
                    app.loadFiles(brainFiles.files);
                    console.log("schwupps");
                    console.log("diwupps");

                }
            }
        }
        function putDWVImagesAndShit(){
            // load dicom data
            app.loadURLs(["https://raw.githubusercontent.com/ivmartel/dwv/master/tests/data/bbmri-53323851.dcm","https://raw.githubusercontent.com/ivmartel/dwv/master/tests/data/bbmri-53323707.dcm","https://raw.githubusercontent.com/ivmartel/dwv/master/tests/data/bbmri-53323563.dcm"]);
        }

        function generate3dTumorModel(){
            var data = new FormData();
            for (var i = 0; i < document.getElementById("3dModelSelector").files.length; i ++){
                alert("file");
                data.append('file', document.getElementById("3dModelSelector").files[i])    
            }

            fetch("/generate3dTumorModel",
            {
                method: "POST",
                body: data
            }).then((response) => {
              response.arrayBuffer().then((buffer) => {
                var base64Flag = 'data:image/jpeg;base64,';
                var imageStr = arrayBufferToBase64(buffer);

                document.getElementById('3dContainer').src = base64Flag + imageStr;
              });
            });
            // .then(function(data){ console.log( JSON.stringify( data ) ) });
            
        }
        // putDWVImagesAndShit();
        function arrayBufferToBase64(buffer) {
        var binary = '';
        var bytes = [].slice.call(new Uint8Array(buffer));

        bytes.forEach((b) => binary += String.fromCharCode(b));

        return window.btoa(binary);
        };
    </script>


</head>

    <body>
        <h1 style="font-size:50px;">Hello World</h1>
        <form action = "javascript:sendToServer()" method = "post">
            <input type = "text" name = "textInputName" id="sampleInputId" />
            <input type="file" multiple id ="brainImagesSelector" name="brainImagesSelector" onchange="loadDWVImages()">
            <input type="file" id ="3dModelSelector" name="3dModelSelector" onchange="generate3dTumorModel()">
        </form>
        <h1 id="answerBox"></h1>

        <div id="dwv">
            <div class="layerContainer">
                <canvas class="imageLayer"></canvas>
            </div>
        </div>

        <button onclick = "javascript:sendToServer()">Borf</button>

       <!--  <button onclick = "javascript:generate3dTumorModel()">3dModel press here</button> -->
        <img id = "3dContainer"/>

    </body>
    <script>const inputSelector = document.getElementById("brainImagesSelector");</script>
</html>
