<div class="component-header">
    <div class="subtitle">Patient Image</div>
    <img height="40" width="40" class="icon" src="../../assets/icon/upload.png">
</div>
<div class="properties-wrap">
    <div class="elements">
        <div class="upload-btn-wrapper">
                <h1 id="answerBox"></h1>
            <form action = "javascript:sendToServer()" method = "post">     
                <button class="btn">Upload a file</button>
                <input type="file" type="file" multiple id ="brainImagesSelector" name="brainImagesSelector" onchange="loadDWVImages()" webkitdirectory mozdirectory/>
            </form>
        </div>    
    </div>
</div>
